body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: grey;
}
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  position: fixed;
  height: 100%;
}
.nav-link {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  font-size: large;
  color: grey;
  padding-top: 4%;
  overflow-y: auto;
}
#main-doc {
  margin-left: 27%;
}
.hide {
  display: none;
}
h1 {
  font-weight: normal;
  color: black;
}
@media (max-width: 983px) {
  #main-doc {
    margin-left: 0%;
  }
  #navbar {
    display: none;
  }
}
code {
  display: block;
  white-space: pre-line;
  background-color: #f7f7f7;
  padding: 2%;
  margin: 3%;
  border-radius: 20px;
}
